@import url('./_error/popup__input_error.css');
@import url('./_error-text/popup__input_error-text');

.popup__input {
  width: 83%;
  height: 27.26px;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 14px;
  line-height: 17px;
  text-decoration: rgba(0, 0, 0, 1);
  outline: none;
  margin: auto;
}

.popup__input:last-of-type {
  margin-top: 29.75px;
  margin-bottom: 48px;
}