.popup__close {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-image: url('../../../images/CloseIcon.svg');
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  width: 40.7px;
  height: 40.7px;
  position: fixed;
  top: calc(50% - (330px / 2 + 40.7px + 34px));
  left: calc(50% + (330px / 2) + 10px);
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 666px) {
  .popup__close {
    left: calc(50% + (280px / 2) - 18px);;
  }
}

@media screen and (max-width: 400px) {
  .popup__close {
    left: calc(50% + 250px / 2 - 20px);
  }
}