@import url('./_active/element__icon_active.css');

.element__icon {
  background: url('../../../images/Group.svg') center no-repeat;
  border: none;
  width: 23px;
  height: 19px;
  margin: auto 22.24px auto 0;
}

.element__icon:hover {
  opacity: .6;
  cursor: pointer;
  transform: scale(1.1);
}